.calculator {
  background-color: #15173c;
  color: white;
  width: 312px;
  height: 440px;
  max-width: 100%;
  border-radius: 1rem;
  margin: 0;
  padding: 22px;
  box-sizing: border-box;
  font-family: sans-serif;
}
    /* width: 300px;
    margin: auto;
    margin-top: 50px; */
  
  
  .display {
    border: 1px solid #ccc;
    padding: 14px;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .result {
    font-size: 1.5em;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5887e4;
  }
  